<h1>Invite participants for: <%= @event.name %></h1>
<%= form_with url: invite_event_path(@event) do |f| %>
  <%= collection_check_boxes :event, :invitees, @friends, :id, :name %>

  <%= f.submit "Submit" %>
<% end %>
