<% provide(:title, "Edit User") %>
<% provide(:button_text, "Save changes") %>

<h1>Update your profile</h1>
<div>
  <%= render 'form', url: user_path(@user) %>
  <%= link_to 'Delete account', @user, method: :delete, data: { 
                                                   confirm: "Are you sure?" } %>

</div>
