/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * NOTE: reversed the precedence of this application-wide stylesheet to lowest
 *= require_self
 *= require_tree .
 */

:root {
    font-size: Max(1rem, 18px);
}

body {
  --action-color: #09a854;
  --action-text-color: #fff;
  --text-input-background: #e7e7e7;
    font-family: "Fira Sans", sans-serif ;
    line-height: 1.3;
    padding: 0% Min(10%, 75px);
    width: Min(100%, 750px);
    box-sizing: border-box;
    margin: 0 auto;
}

input[type="text"],
input[type="email"], 
input[type="password"] {
    border: none;
    border-radius: 5px;
    background: var(--text-input-background);
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}

button, 
input[type="submit"] {
    font-size: 1rem;
    color: var(--action-text-color);
    height: 2rem;
    background-color: var(--action-color);
    border-radius: 5px;
    border: none;
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
} 

input[type='checkbox']:hover {
    cursor: pointer;
}

.debug_dump {
    font-size: 15px;
    margin-top: 45px;
}
