#calendar-container {
    display: flex block;
    flex-direction: column;
    align-items: center;
}

.calendar-grid{
    --calendar-width: 320px;
    width: var(--calendar-width);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "month year"
      "calendar calendar";
}

.calendar {
    grid-area: calendar;
    width: var(--calendar-width);
    height: var(--calendar-width); /* 250px;*/
    overflow: clip;
    user-select: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 46px;
    grid-auto-rows: 46px;
    justify-items: center;
    gap: 0;
    align-items: center;
    margin: 0 auto;
}

.calendar-cell {
    width: 100%;
    height: 100%;
    font-weight: lighter;
    display: inline-grid;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
}

.flat-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0; 
}

.flat-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
}

.flat-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; 
}

.flat-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
}

.calendar-month, 
.calendar-year {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.calendar-month {
    transform: translate(0.8rem);
    align-self: start;
    grid-area: month;
}

.calendar-year {
    transform: translate(-1rem);
    opacity: 0.5;
    align-self: end;
    grid-area: year;
    text-align: right;
} 

.day-of-week {
    font-weight: bold;
}

.calendar-highlight-cell {
    color: var(--action-text-color);
    background-color: var(--background-color);
}

.back-btn {
    grid-area: back;
}

.forward-button {
    grid-area: forward;
}

.select-btn {
    grid-area: select;
}
