#calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px
}

#react-calendar-input {
    height: 100%;
    width: var(--calendar-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
}

.calendar-grid{
    width: var(--calendar-width);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "month year"
      "calendar calendar";
    font-size: 1rem
}

.calendar {
    grid-area: calendar;
    width: var(--calendar-width);
    overflow: clip;
    user-select: none;
    -webkit-user-select: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: calc(var(--calendar-height) / 6);
    grid-auto-rows: calc(var(--calendar-height) / 6);
    justify-items: center;
    gap: 0;
    align-items: center;
    margin: 0 auto;
}

.calendar-cell {
    width: 100%;
    height: 100%;
    font-weight: lighter;
    display: inline-grid;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    touch-action: none;
}

.flat-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0; 
}

.flat-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
}

.flat-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; 
}

.flat-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
}

.not-same-month {
    opacity: 0.5;
}

.calendar-month, 
.calendar-year {
    margin: 0;
    font-size: 1.05rem;
    font-weight: bold;
}

.calendar-month {
    transform: translate(0.8rem);
    align-self: start;
    grid-area: month;
}

.calendar-year {
    transform: translate(-1rem);
    opacity: 0.5;
    align-self: end;
    grid-area: year;
    text-align: right;
} 

.day-of-week {
    font-weight: bold;
}

.calendar-highlight-cell {
    color: var(--action-text-color);
    background-color: var(--background-color);
}

.btns {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, calc(100% / 4 - 5px));
    grid-template-areas: 
        "back-btn select-btn other forward-btn";
}

.back-btn {
    grid-area: back-btn;
    color: black;
    background: none;
}

.forward-btn {
    grid-area: forward-btn;
    color: black;
    background: none;
}

.select-btn {
    grid-area: select-btn;
    background: none;
    color: #098643;
}

input[type='submit'].submit-btn {
    grid-area: other;
    font-weight: bold;
    background: none;
    color: #098643;
}

.date-select-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
