// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#react-event-calendar {
    width: var(--calendar-width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    grid-area: calendar;
}

.edit-event-header {
    text-align: right;
}

.event-code-title {
    font-weight: bold;
}

.create-event-page {
    display: flex;
    flex-direction: column;
}

.create-logo {
    align-self: flex-end;
}

.event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-page ul {
    list-style: none;
}

.event-name-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.event-name {
    text-align: right;
    padding-right: 0.5rem;
    margin: 0 0 0.5rem 0;
    grid-area: name;
}

.event-details {
    grid-area: details;
    width: var(--calendar-width);
    margin: 1rem auto 0 auto;
    position: relative;
}

.edit-link {
    position: fixed;
    right: 1rem;
    bottom: calc(var(--header-height) + 0.5rem);
}

.participants-list-heading {
    margin-bottom: 0.5rem;
}

.participants-list {
    padding: 0;
    margin-top: 0;
}

.event-display {
    --time-selector-row-width: 23px;
    --time-selector-border-radius: 1rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: Min(100%, 340px);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "times participants";
    background-color: var(--action-text-color);
    color: var(--background-color);
    z-index: 1;
    //border-radius: var(--time-selector-border-radius);
    box-shadow: 0 0 1rem var(--background-color);
    height: 610px;
    overflow: hidden;
}

.event-times-display {
  grid-area: times;
  display: flex;
  flex-direction: column;
  height: 610px;
  padding-top: 0.4rem;
  padding-right: 0.5rem;
}

@media (min-width: 450px) {
    .event-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "name name"
            "calendar details";
    }
    
    .event-name {
        text-align: left;
    }

    .edit-link {
        position: absolute;
        right: auto;
        bottom: auto;
        top: 2rem;
        left: calc(100% - var(--edit-link-size));
    }

    .event-details {
        margin: 0 auto;
    }
    
    .event-display {
        top: calc(var(--header-height) + 0.5rem);
    }
}
