// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.welcome-signup-link,
.login-link {
    background: var(--action-color);
    padding: 0.5rem;
    width: Min(calc(100% - 1rem), 360px);
    text-align: center;
    display: block;
    color: var(--action-text-color);
    border-radius: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition-property: background, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-in;
}

.welcome-signup-link:hover,
.login-link:hover, .welcome-signup-link:focus,
.login-link:focus {
    background: var(--foreground-color);
    color: var(--background-color);
}

.welcome-signup-link {
    margin: 3rem 0 2rem 0;
}

.login-form {
    display: grid;
    width: Min(100%, 380px);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "email"
        "password"
        "remember-me"
        "login-btn"
}

.login-form  {
    label[for="session_email"], label[for="session_password"] {
        display: inline-flex;
        font-weight: bold;
        flex-direction: column;
        margin-bottom: 1.1rem;
    }
}

.login-btn {
    width: Min(35%, 100px);
    margin-top: 1.3rem;
    height: 4rem;
    justify-self: end; 
    grid-area: login-btn;
}

.signup-link {
    color: #000;
    transition: color var(--transition-duration) ease;
}

.signup-link:hover, .signup-link:focus {
    color: var(--action-color);
} 

.remember-me {
    display: inline;
    grid-area: remember-me;
}

.remember-me:hover {
    cursor: pointer;
}
