// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.app-logo {
    font-weight: bold;
}

.login-form {
    display: block grid;
    width: Min(100%, 380px);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "email"
        "password"
        "remember-me"
        "login-btn"
}

.login-form  {
    label[for="session_email"], label[for="session_password"] {
        display: inline flex;
        font-weight: bold;
        flex-direction: column;
        margin-bottom: 1.1rem;
    }
}

.login-btn {
    width: Min(35%, 100px);
    margin-top: 1.3rem;
    height: 4rem;
    justify-self: end; 
    grid-area: login-btn;
}

.signup-link {
    color: #000;
    transition: color 0.25s ease;
}

.signup-link:hover, .signup-link:focus {
    color: var(--action-color);
} 

.remember-me {
    display: inline;
    grid-area: remember-me;
}

.remember-me:hover {
    cursor: pointer;
}
