.time-input-cell {
    height: 1.5rem;
    border-bottom: solid 1px black;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.highlight-cell {
    background-color: lightblue;
}

.suggested-time-cell {
    background: darkblue;
}

.time-selector-input {
    width: Min(100%, 300px);
    background-color: white;
    grid-area: input-start / input-start / input-end / input-end;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.time-selector {
    width: Min(100%, 300px);
    grid-area: input-start / input-start / input-end / input-end;
}

.hour-string {
    display: inline-block;
    transform: translateY(-0.75rem);
    background: #FFF;
}
