.time-selector-input {
    --time-selector-row-width: 23px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: Min(100%, 300px);
    display: grid;
    grid-template-columns: 45px repeat(4, 1fr);
    grid-template-rows: repeat(25, var(--time-selector-row-width)) 40px;
    background-color: white;
    /*border-left: solid 1px black;*/
}

.time-input-cell {
    height: var(--time-selector-row-width);
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.time-input-empty-div {
    background: var(--background-color);
}

.highlight-cell {
    background-color: var(--action-color);
}

.suggested-time-cell {
    background: darkblue;
}

.time-input-minutes {
    grid-area: 1 / 2 / 2 / 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.time-input-minutes,
.time-input-hour {
    background-color: var(--background-color);
    color: white;
    user-select: none;
    -webkit-user-select: none;
}

.time-input-hour {
    display: inline-flex;
    justify-content: end;
    padding-right: 2px;
    height: calc(var(--time-selector-row-width) + 1px);
}

.time-input-date {
    grid-area: 26 / 1 / 27 / 4;
    font-size: 1.2rem;
}

.time-input-back-btn {
    grid-area: 26 / 4 / 27 / 6;
}

.time-input-date,
.time-input-back-btn {
    justify-self: center;
    align-self: center;
}

@media (min-width: 450px) {
    .time-selector-input {
        top: calc(var(--header-height) + 0.5rem);
    }
}
