// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-form {
  display: flex;
  flex-direction: column;
}

.user-form input {
  margin-bottom: 1rem;
}

.user-form input[type="submit"] {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.free-times-logo {
  align-self: flex-end;
}

.event-code-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
    max-width: 335px;
  label {
      display: flex;
      flex-direction: column;
      font-weight: bold;
  }
}

.event-invite-list,
.event-list {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 0.5rem; 
}

.event-li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 0.5rem;
}

.event-link {
    color: var(--background-color);
    transition: color var(--transition-duration) ease-in;
}

.event-link:hover {
    color: var(--action-color);
}

.event-invite-li {
  display: grid;
  grid-template-columns: 1fr 1fr 65px 15px;
  grid-auto-rows: auto;
  gap: 0.5rem;
  align-items: center;
}

.delete-invite-link {
    font-size: 2rem;
    text-decoration: none;
    justify-self: center;
    color: black;
    transition: color var(--transition-duration) ease-in;
}

.delete-invite-link:hover {
    color: var(--action-color);
}

.event-name-header,
.host-name-header {
    font-weight: bold;
}

.home-page-nav {
    margin-bottom: 0.5rem;

    button {
        background: none;
        color: var(--background-color);
    }
}

.current-tab {
    border-bottom: solid var(--action-color);
    border-radius: 0;
}
