<div class="flash-message-background"></div>
<div class='flash-message-container <%="#{type}"%>'>
  <p class="flash-message" ><strong><%= message %></strong></p> <button type="button" aria-label="close" class="close-btn" >&times;</button>
</div>
