<header>
    <nav aria-label="site navigation">
        <% if logged_in? %>
          <%= render 'layouts/logged_in_header' %>
        <% else %>
            <ul>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Log in", login_path%></li>
            <ul>
        <% end %>
      </ul>
    </nav>
</header>
